@model DanceCompetitionApplication.Models.PerformanceDto

@{
    ViewBag.Title = "Details";
}

<p>Entry #@Model.PerformanceId</p>
<h2>@Model.RoutineName</h2>
<p><span>@Model.PerformanceTime</span> @Model.CategoryName</p>