@model DanceCompetitionApplication.Models.ViewModels.DetailsCategory

@{
    ViewBag.Title = "Details";
}

<a class="backLink" href="/Category/List">< All Categories</a>

<div class="detailsContainer">
    <div>
        <h2 class="detailsInfo">@Model.SelectedCategory.CategoryName</h2>
    </div>
</div>
<div id="relatedPerformances">
    <h3>Performances</h3>
    @foreach (var performance in Model.RelatedPerformances)
    {
        <div>
            <a class="item" href="/Performance/Details/@performance.PerformanceId">@performance.RoutineName</a>
        </div>
    }
</div>

<div class="actionBtns">
    <div class="updateBtn">
        <a href="/Category/Edit/@Model.SelectedCategory.CategoryId">Update</a>
    </div>
    <div class="deleteBtn">
        <a href="/Category/DeleteConfirm/@Model.SelectedCategory.CategoryId">Delete</a>
    </div>
</div>