@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gudea:wght@400;700&display=swap');

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

h1, h2{
    font-weight: 700;
}

body {
    font-family: "Gudea", sans-serif;
/*    background-color: #F6EEE8;
*/}

p {
    font-size: 1.2em
}

nav{
    background-color: #770022;
}

.nav-link{
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 280px;
    margin-bottom: 1em;
}

label{
    font-weight: 700;
}

.submitBtn {
    width: 80px;
    background-color: #E08283;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: none;
}

.submitBtn a:hover{
    color: #770022;
}

#addPerformanceSubmit {
    width: 160px;
}

#addDancerSubmit{
    width: 110px;
}

#addCategorySubmit{
    width: 125px;
}

.formInput {
    display: flex;
    flex-direction: column;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

td, th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
    border: 1px solid #E3E3E3;
}

th {
    background-color: #212529;
    color: white;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

tr:hover{
    background-color: #E3E3E3;
}

#addPerformanceBtn {
    width: 165px;
}

#addCategoryBtn {
    margin-top: 10px;
    width: 135px;
}

#addDancerBtn {
    margin-top: 10px;
    width: 125px;
}

.addBtn {
    background-color: #E08283;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

.addBtn a:hover{
    color: #770022;
}

.addBtn a, .updateBtn a, .deleteBtn a, #scheduleBtn a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.backLink{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    color: #E08283;
}

.detailsInfo{
    margin-bottom: 0;
    margin-top: 10px;
}

.detailsContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

#timeBold{
    font-weight: 700;
}

#timeAndCategory{
    display: flex;
    gap: 0.75em;
}

.actionBtns {
    display: flex;
    gap: 10px;
}

.updateBtn {
    background-color: #E08283;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    width: 80px;
    border-radius: 5px;
}

.updateBtn a:hover{
    color: #770022;
}

.deleteBtn {
    background-color: #770022;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    width: 75px;
    border-radius: 5px;
}

.confirmDeleteBtn {
    background-color: #770022;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    width: 140px;
    border-radius: 5px;
    font-weight: 700;
}

.confirmDeleteBtn:hover{
    color: #E08283;
}

#siteName {
    font-family: "Abril Fatface", serif;
    font-size: 3.5em;
    letter-spacing: 1.5px;
    color: #770022;
}

.navbar-brand {
    font-family: "Abril Fatface", serif;
    color: white;
}

.navbar-brand:hover{
    color: #E08283
}

.nav-link:hover {
    color: #E08283
}

#upcoming{
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#competitionDetails p{
    margin-bottom: 0;
}

#city{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}

#date{
    font-size: 1.5em;
}

#splashPage {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    align-items: center;
}

#homeContent{
    display: flex;
    gap: 1em;
}

#homeImage{
    height: 300px;
}

#scheduleBtn {
    background-color: #770022;
    width: 140px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

#scheduleBtn a:hover{
    color: #E08283;
}

.formInput p{
    font-size: 0.9em;
    margin-bottom: 0;
}

#dancersInPerformance, #performancesForDancer, #relatedPerformances {
    margin: 1em 0;
}

#performancesForDancer h3 {
    font-weight: 700;
}

#dancersInPerformance h3 {
    font-weight: 700;
}

#relatedPerformances h3 {
    font-weight: 700;
}

h3{
    font-size: 1.2em;
}

#associateBtn {
    background-color: #E3E3E3;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    width: 145px;
}

.searchBtn {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #E3E3E3;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    width: 100px;
    margin-left: 5px;
}

.item {
    text-decoration: none;
    color: black;
}

.xIcon{
    color: #770022;
    text-decoration: none;
}

.itemContainer{
    margin-bottom: 0.5em;
}

.itemContainer a{
    font-size: 1.1em;
}