@model IEnumerable<DanceCompetitionApplication.Models.DancerDto>

@{
    ViewBag.Title = "List";
}

<h2>Dancers</h2>

<!--search bar-->
<form action="/Dancer/List" method="GET">
    <input type="text" name="SearchKey" />
    <input class="searchBtn" type="submit" value="Search" />
</form>

@foreach (DanceCompetitionApplication.Models.DancerDto Dancer in Model)
{
    <div class="itemContainer"><a class="item" href="/Dancer/Details/@Dancer.DancerId">@Dancer.FirstName @Dancer.LastName</a></div>
}

<div class="addBtn" id="addDancerBtn">
    <a href="/Dancer/New">Add Dancer +</a>
</div>

